body,
div:not(div.toaster *, div.toaster) {
  @apply bg-blue-300 dark:bg-blue-900 text-gray-900 dark:text-gray-300 transition-colors duration-300;
}

/* div.toaster {
  background-color: transparent !important;
}
div.toaster > div,  {
  background-color: transparent !important;
} */

input {
  @apply border-none outline-none px-2 rounded-lg bg-blue-200 dark:bg-blue-700/50 dark:border-gray-200 dark:border-2 dark:text-gray-200;
}

textarea {
  @apply border-none outline-none px-2 rounded-lg bg-blue-500  dark:bg-blue-700/50 dark:text-gray-200;
}

button {
  @apply cursor-pointer outline-none rounded-lg flex items-center justify-center gap-2 px-2 py-0;
}

button.outlined {
  @apply border-2 rounded-lg flex items-center justify-center bg-transparent border-gray-800 dark:border-gray-300 text-gray-800 dark:text-gray-300;
}

button.outlined-primary {
  @apply border-green-500 text-green-500;
}

button.outlined-secondary {
  @apply border-purple-500 text-purple-500;
}

button.outlined-danger {
  @apply border-red-500 text-red-500;
}

label {
  @apply text-lg uppercase text-gray-900 dark:text-gray-300;
}

h6 {
  @apply text-sm text-gray-400 dark:text-gray-300 opacity-75;
}
