@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate-default: #393d3f;
  --slate-dark: #2b2f31;
  --white: #fdfdff;

  --react-international-phone-background-color: var(--slate-dark);
  --react-international-phone-text-color: var(--white);
  --react-international-phone-border-color: transparent;
  --react-international-phone-selected-dropdown-item-background-color: var(
    --slate-default
  );
  --react-international-phone-height: 2.5rem;
  --react-international-phone-font-size: 0.8rem;
  --react-international-phone-border-radius: 0.5rem;
}
